SmartBiz.MDM/BenchMark/Service References/ServiceReference1/PCSAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.SmartBiz.com/PCSAPI" elementFormDefault="qualified" targetNamespace="http://www.SmartBiz.com/PCSAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SmartBiz.PCSAPI.Common.Enums" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ApiAck">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartBiz.PCSAPI.Common.Enums" minOccurs="0" name="CallStatus" type="q1:EApiCallStatus" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CaughtException" nillable="true" type="q2:Exception" />
      <xs:element minOccurs="0" name="ReturnedMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiAck" nillable="true" type="tns:ApiAck" />
</xs:schema>